@charset "utf-8 ";

/* Todas as midias */

/* Typical device breakpoints
Pequenas telas: 600px
Celular: 600px até 768px
Tablet: 768px até  992px
Desktop: 992px até 1200px
Grandes telas: acima de 1200px
*/

:root{
    --color00: #000000;
    --color01: #101010;
    --color02: #ff5500;
    --color03: #ff8e56;
    --color04: #ffffff;
}

@media print {

}

/* Tablet */
@media screen and (min-width: 768px) and (max-width: 992px) {
    #body{
        width: 80vw;
    }

    .lateral_img{
        display: none;
    }
    p{
        padding: 15px;
        font-size: 1.1em;
    }
}

/* Computador */
@media screen and (min-width: 992px) and (max-width: 1200px){
    #body{
        width: 70vw;
    }
    h1{
        font-size: 2.5em;
    }
    p{
        padding: 20px;
        font-size: 1.2em;
    }

    .lateral_img{
        display: block;
        float: left;
        width: 40%;
        margin: 12px;
        border: 1px solid white;
    }
}

/* TV`s */
@media screen and (min-width: 1200px){
    #body{
        width: 50vw;
    }
    img{
        width: 80%;
        display: block;
        margin: auto;
    }
    h1{
        font-size: 2.5em;
    }
    p{
        padding: 20px;
        font-size: 1.5em;
    }

    h1.conteudo::after{
        height: 2px;
    }

    .lateral_img{
        display: block;
        float: left;
        width: 40%;
        margin: 12px;
        border: 1px solid white;
    }
}

