
/* Comfigurações gerais */
*{
    margin: 0px;
    padding: 0px;
}
:root{
 --color00: #000000;
 --color01: #101010;
 --color02: #ff6f00;
 --color03: #ffb882;
 --color04: #ffffff;
}

body{
    display: flex;
    background-color: #000000;
    margin: 17px;
}
#body{
    background-color: var(--color01);
    width: 100vw;
    height: 100%;
}
h1{
    color: #ffffff;
    padding: 6px;
    margin: 5px;
    font-size: 2em;
}
h1.conteudo{
    position: relative;
}
h1.conteudo::after{
    content: " ";
    width: 95%;
    height: 1px;
    background-color: var(--color02);
    position: absolute;
    bottom: 0;
    left: 0;
}
p{
    color: #ffffff;
    text-align: justify;
    text-indent: 20px;
    padding: 6px;
    margin: 5px;
}
a{
    text-decoration: none;
    color: var(--color02);
}
a:hover{
    text-decoration: underline;
    color: var(--color03);
}

/* Cabeçalho */
header{
    text-align: center;
}
header > p{
    text-align: center;
}
span{
    color: var(--color02);
}

/* IMAGEM */
img{
    width: 100%;
    margin: 15px 0px 5px 0px;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.5);
}

/* Rodape */
footer{
    background-color: var(--color02);
}
footer > h2{
    padding: 16px;
    text-align: center;
}

footer > h2 > a{
    color: #ffffff;
}

footer > h2 > a:hover{
    color: #101010;
}