
/* Comfigurações gerais */
*{
    margin: 0px;
    padding: 0px;
}
:root{
 --color01: #101010;
 --color02: #ff6f00;
}
body{
    background-color: #000000;
    margin: 20px;
}
#body{
    background-color: var(--color01);
    width: 100vw;
    height: 100vh;
    margin: 5px;
}
h1{
    color: #ffffff;
    padding: 7px;
}
p{
    color: #ffffff;
    text-align: justify;
    padding: 3px;
    margin: 4px;
}
a{
    text-decoration: none;
    color: #ffffff;
}
a:hover{
    text-decoration: underline;
    color: var(--color02);
}

/* Cabeçalho */
header{
    text-align: center;
}
header > p{
    text-align: center;
}

.grid{ 
    margin: 4px;
}

/* Comteudo da Direita*/
aside{

}

/* Tabela */
table > caption > img{
    display: block;
    margin: auto;
    width: 90%;
    height: 100%;
}
table{
    color: #ffffff;
    min-width: 210px;
    max-width: 300px;
    height: 160px;
    border-collapse: collapse;
    position:relative;
    border: 3px solid #ffffff;
    margin: 20px;
}
td{
    border: 1px solid #ffffff;
    padding: 10px;
}
#tabela{
    display: block;
    margin: auto;
    min-width: 210px;
    max-width: 300px;
    border: 3px solid var(--color02);
}

/* Comteudo da Esquerda */
section{

}

/* Rodape */
footer{
    display: block;
    margin: auto;
    background-color: var(--color02);
    text-align: center;
}
footer > h2{
    margin: 10px;
    padding: 16px;
    text-align: center;
}

footer > h2 > a:hover{
    color: var(--color01);
}